langgraph
langchain
langchain-groq
python-dotenv
langchain_tavily
langchain_openai
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu # used for vector search and retrieval
pypdf